body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.display{
    .lg{
        font-size: 57px;
        letter-spacing: -0.142px;
        line-height: 64px;
    }
}
